---
import LayoutLandingPage from "../layouts/LayoutLandingPage.astro";
import FondApropos from "../assets/fond/apropos-desktop.svg";
import CardPersonnage from "../components/CardPersonnage.astro";
import AndreaPerso from "../assets/icones/andrea.webp";
import NicoPerso from "../assets/icones/nicolas.webp";
import FrancoisPerso from "../assets/icones/francois.webp";
import IutMmi from "../assets/images/iut-mmi.webp";
import IconDiversite from "../assets/icones/icone-diversite.webp";
import IconAuthenticite from "../assets/icones/icone-authenticite.webp";
import IconSoutien from "../assets/icones/icone-commerce.webp";
import IconPartage from "../assets/icones/icone-partage.webp";
import Transition from "../components/Transition.astro";
import FondAproposMobile from "../assets/fond/apropos-mobile.svg";
---

<LayoutLandingPage
  title="Qui sommes-nous ?"
  description="Découvrez qui se cache derrière l'ASAFRAM."
  src={FondApropos}
  srcMobile={FondAproposMobile}
  alt="Qui sommes nous ASAFRAM"
  classContent="bg-white text-black"
>
  <Fragment slot="content">
    <div class="h-40 w-full bg-background"></div>
    <Transition className="bottom-10 md:bottom-14 lg:bottom-20 xl:bottom-32" />
    <section class="section-content" id="equipe">
      <header class="lg:mb-20 mb-10">
        <h2>Notre équipe</h2>
      </header>
      <ul
        class="flex flex-col justify-center items-center gap-8 md:flex-row md:gap-30 lg:gap-60 xl:gap-80"
      >
        <li class="transition-transform duration-300 hover:translate-y-[-5px]">
          <CardPersonnage
            nom="Mestre"
            prenom="Andréa"
            role="Designer"
            image={AndreaPerso}
            alt="Image de Andréa Mestre"
          />
        </li>
        <li class="transition-transform duration-300 hover:translate-y-[-5px]">
          <CardPersonnage
            nom="Thai"
            prenom="Nicolas"
            role="Développeur"
            image={NicoPerso}
            alt="Image de Nicolas Thai"
          />
        </li>
        <li class="transition-transform duration-300 hover:translate-y-[-5px]">
          <CardPersonnage
            nom="Yang"
            prenom="François"
            role="Communication"
            image={FrancoisPerso}
            alt="Image de François Yang"
          />
        </li>
      </ul>
    </section>

    <Transition
      isReversed="true"
      className="top-10 md:top-14 lg:top-20 xl:top-32"
    />

    <section
      class="section-content bg-background lg:pt-40 pt-20 lg:pb-40 pb-30"
    >
      <header>
        <h2 class="uppercase text-center md:!text-left lg:ml-10">
          Pourquoi on a créé ASAFRAM ?
        </h2>
      </header>
      <div
        class="flex flex-col lg:flex-row lg:gap-12 md:gap-10 lg:px-10 mt-6 lg:items-center"
      >
        <div class="space-y-16 lg:w-1/2">
          <p class="text-sm xl:!text-lg md:!text-base">
            Nous étions trois étudiants en première année de MMI, passionnés par
            le digital et la culture culinaire. Issus de familles chinoise,
            vietnamienne et portugaise, nous avions grandi avec des plats
            traditionnels qui faisaient partie de notre identité. Pourtant, nous
            étions souvent confrontés à une même difficulté : trouver facilement
            les ingrédients authentiques pour recréer ces recettes chez nous.
            Entre le manque de visibilité des épiceries spécialisées et la
            difficulté d'accéder à certaines informations, nous avions réalisé
            que ce besoin ne concernait pas seulement nos communautés, mais bien
            toutes les personnes attachées aux saveurs de leur culture
            d'origine.
          </p>
          <p class="text-sm xl:!text-lg md:!text-base">
            ASAFRAM était d'abord né dans un cadre scolaire, comme un simple
            projet universitaire. Mais au fil de nos recherches et de nos
            échanges, nous avions compris qu'il répondait à une véritable
            problématique, bien au-delà de notre travail académique. Ce qui
            était au départ un exercice était devenu un projet concret, porté
            par l'envie de créer un véritable pont entre les cultures à travers
            la cuisine. Finalement, nous avions décidé d'aller plus loin et de
            lancer ASAFRAM pour de vrai, avec la conviction que la diversité
            culinaire méritait d'être accessible à tous.
          </p>
        </div>
        <div class="mt-10 lg:mt-0 lg:w-1/2 flex flex-col">
          <img
            src={IutMmi.src}
            alt="IUT MMI"
            class="w-full rounded-lg shadow-lg transition-transform duration-300 hover:scale-[1.02]"
          />
          <div class="position-center mt-10">
            <a class="btn-landing-page bg-terre-cuite text-white" href=""
              >Essayer ASAFRAM</a
            >
          </div>
        </div>
      </div>
    </section>

    <Transition className="bottom-10 md:bottom-14 lg:bottom-20 xl:bottom-32" />

    <section class="section-content lg:pb-40 pb-10">
      <header class="lg:mb-40 mb-10">
        <h2>Nos valeurs & engagements</h2>
      </header>
      <ul
        class="flex flex-col justify-center items-center mt-10 gap-14 md:flex-row lg:gap-20 md:gap-16 xl:gap-50"
      >
        <li
          class="flex flex-col items-center justify-center transition-transform duration-300 hover:scale-110"
        >
          <div class="h-20 flex items-center justify-center mb-4">
            <img class="w-20" src={IconDiversite.src} alt="" />
          </div>
          <h3 class="text-center h-10 flex items-center justify-center">
            Diversité
          </h3>
        </li>
        <li
          class="flex flex-col items-center justify-center transition-transform duration-300 hover:scale-110"
        >
          <div class="h-20 flex items-center justify-center mb-4">
            <img class="w-20" src={IconAuthenticite.src} alt="" />
          </div>
          <h3 class="text-center h-10 flex items-center justify-center">
            Authenticité
          </h3>
        </li>
        <li
          class="flex flex-col items-center justify-center transition-transform duration-300 hover:scale-110"
        >
          <div class="h-20 flex items-center justify-center mb-4">
            <img class="w-20" src={IconSoutien.src} alt="" />
          </div>
          <h3
            class="text-center h-10 flex items-center justify-center w-60 lg:w-64"
          >
            Soutenir les petits commerces
          </h3>
        </li>
        <li
          class="flex flex-col items-center justify-center transition-transform duration-300 hover:scale-110"
        >
          <div class="h-20 flex items-center justify-center mb-4">
            <img class="w-20" src={IconPartage.src} alt="" />
          </div>
          <h3 class="text-center h-10 flex items-center justify-center">
            Partage
          </h3>
        </li>
      </ul>
    </section>
  </Fragment></LayoutLandingPage
>
