---
import LayoutLandingPage from "../layouts/LayoutLandingPage.astro";
import FondMission from "../assets/fond/mission-desktop.svg";
import JuanImage from "../assets/images/juan-veloza.webp";
import BulleMission from "../components/BulleMission.astro";
import ImagePlats from "../assets/images/plats-asafram.webp";
import IconeCommerces from "../assets/icones/icone-commerce.webp";
import IconeRecettes from "../assets/icones/icone-recette.webp";
import IconeCommunautes from "../assets/icones/icone-communaute.webp";
import CardFonctionnalites from "../components/CardFonctionnalites.astro";
import IconePlan from "../assets/icones/icone-plan.webp";
import IconeProduits from "../assets/icones/icone-produits.webp";
import IconeFavoris from "../assets/icones/icone-favoris.webp";
import IconeMessage from "../assets/icones/icone-message.webp";
import IconeNewsletter from "../assets/icones/icone-newsletter.webp";
import IconeSearchbar from "../assets/icones/icone-searchbar.webp";
import IconeTraduction from "../assets/icones/icone-traduction.webp";
import IconeTask from "../assets/icones/icone-task.webp";
import IconeChevron from "../assets/icones/faq-chevron.webp";
import WorldMap from "../components/WorldMap.astro";
import Transition from "../components/Transition.astro";
---

<LayoutLandingPage
  title="Notre Mission"
  description="Découvrez notre mission à travers le projet d'ASAFRAM"
  src={FondMission}
  alt="Mission ASAFRAM"
  classContent="bg-white text-black"
>
  <Fragment slot="content">
    <div class="section-content bg-background !pt-0 !mt-0 lg:pb-20">
      <div class="">
        <div
          class="flex flex-col lg:flex-row justify-center items-center mb-16 pt-20 lg:pt-40 md:pb-20"
        >
          <div class="lg:w-1/2">
            <h2 class="md:!text-left mb-6 mt-40 md:mt-20">
              L'histoire de Juan
            </h2>

            <div class="space-y-8">
              <p class="w-full lg:w-3/4 lg:text-xl">
                Tout a commencé avec notre ami Juan, un étudiant colombien venu
                en France pour ses études. En arrivant, il a rapidement
                rencontré une difficulté : retrouver des produits alimentaires
                colombiens pour recréer les plats de son pays.
              </p>
              <p class="w-full lg:w-3/4 lg:text-xl">
                C'est ainsi qu'il a imaginé une plateforme capable de référencer
                tous les produits colombiens disponibles en France. Une solution
                qui lui permettrait de gagner du temps dans ses recherches et
                d'accéder plus facilement aux ingrédients essentiels de ses
                plats favoris.
              </p>
            </div>
          </div>
          <div class="my-10 lg:w-[600px] md:w-[500px]">
            <img src={JuanImage.src} alt="Image de Juan Veloza" />
          </div>
        </div>

        <div>
          <h3 class="text-center md:mb-20">
            Et des Juans, on en trouve des millions en France...
          </h3>

          <ul
            class="flex flex-col gap-8 items-center justify-center pt-10 pb-20 lg:flex-row lg:gap-36"
          >
            <li>
              <BulleMission
                circleColor="bg-jaune"
                nombre="30%"
                text="Des français sonts issus de familles immigrées ou immigré eux-même."
              />
            </li>
            <li>
              <BulleMission
                circleColor="bg-saumon"
                nombre="6M"
                text="Des français sonts issus de familles immigrées ou immigré eux-même."
              />
            </li>
            <li>
              <BulleMission
                circleColor="bg-rouge"
                nombre="+35%"
                text="Des français sonts issus de familles immigrées ou immigré eux-même."
              />
            </li>
          </ul>
        </div>
      </div>
    </div>

    <Transition className="bottom-10 md:bottom-14 lg:bottom-20 xl:bottom-32" />

    <section class="section-content bg-white !mt-0">
      <div class="flex flex-col lg:flex-row lg:gap-30 items-center">
        <div class="flex flex-col lg:w-2/5">
          <h2 class="text-left mb-4">C'est quoi ASAFRAM ?</h2>
          <p class="mb-8">
            Une plateforme de référencement qui vise à aider les étrangers à
            retrouver les saveurs de chez-eux.
          </p>
          <div class="mt-6">
            <img
              class="w-full rounded-lg"
              src={ImagePlats.src}
              alt="Image de plats typiques"
            />
          </div>
        </div>

        <div class="lg:w-3/5 mt-16 lg:mt-0">
          <ul class="flex flex-col gap-8 lg:mt-30">
            <li class="flex flex-row items-start">
              <div class="min-w-[64px] flex items-start justify-center mr-4">
                <img class="w-16" src={IconeCommerces.src} alt="" />
              </div>
              <div>
                <h3 class="text-xl font-bold mb-2">
                  Référencier des produits, boutiques et restaurants étrangers
                </h3>
                <p class="text-base">
                  Nous centralisons les meilleurs produits, boutiques et
                  restaurants spécialisés pour que chacun puisse retrouver les
                  goûts de son pays d'origine ou découvrir de nouvelles
                  cuisines.
                </p>
              </div>
            </li>

            <li class="flex flex-row items-start">
              <div class="min-w-[64px] flex items-start justify-center mr-4">
                <img class="w-16" src={IconeRecettes.src} alt="" />
              </div>
              <div>
                <h3 class="text-xl font-bold mb-2">
                  Initiatier à la cuisine étrangère avec des recettes
                </h3>
                <p class="text-base">
                  Nous mettons à disposition un espace de partage de recettes
                  authentiques pour vous initier aux cuisines étrangères et
                  reproduire chez vous des plats emblématiques.
                </p>
              </div>
            </li>

            <li class="flex flex-row items-start">
              <div class="min-w-[64px] flex items-start justify-center mr-4">
                <img class="w-16" src={IconeCommunautes.src} alt="" />
              </div>
              <div>
                <h3 class="text-xl font-bold mb-2">
                  Créer une communauté engagée
                </h3>
                <p class="text-base">
                  Nous rassemblons amateurs et experts de la cuisine du monde
                  pour partager recettes, conseils et bonnes adresses dans un
                  esprit d'échange et de découverte. Tout se passe à travers des
                  espaces de commentaires, de notations et de partages.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <Transition
      isReversed="true"
      className="top-10 md:top-14 lg:top-20 xl:top-32"
    />

    <section class="section-content bg-background pt-20">
      <header>
        <h2 class="mt-20 lg:mt-40 md:mb-20 lg:mb-32">Continents Disponibles</h2>
      </header>
      <div class="flex flex-col items-center mt-10">
        <p class="text-center max-w-3xl mb-10 lg:text-xl">
          Pour l'instant, ASAFRAM se concentre sur trois régions du monde riches
          en diversité culinaire : l'Amérique latine, l'Afrique et l'Asie. Notre
          objectif est d'étendre progressivement notre couverture à d'autres
          régions.
        </p>
        <WorldMap className="w-full max-w-4xl" />
      </div>
    </section>

    <section class="section-content bg-background py-20 lg:py-40">
      <header>
        <h2 class="mt-20 lg:mt-40 md:mb-20 lg:mb-32">
          Les fonctionnalités d'asafram
        </h2>
      </header>

      <ul
        class="md:grid md:grid-cols-2 lg:grid-cols-3 flex flex-col gap-8 my-12"
      >
        <li>
          <CardFonctionnalites
            image={IconePlan.src}
            title="Carte interactive"
            description="Trouvez facilement les boutiques et restaurants spécialisés près de chez vous grâce à une carte intuitive."
            color="bg-sable"
          />
        </li>
        <li>
          <CardFonctionnalites
            image={IconeProduits.src}
            title="Catalogue de produits"
            description="Explorez les produits disponibles dans chaque boutique et préparez vos achats en toute simplicité."
            color="bg-saumon"
          />
        </li>
        <li>
          <CardFonctionnalites
            image={IconeRecettes.src}
            title="Partage de recettes"
            description="Découvrez et publiez des recettes authentiques pour cuisiner des plats du monde chez vous."
            color="bg-terre-cuite"
          />
        </li>
        <li>
          <CardFonctionnalites
            image={IconeFavoris.src}
            title="Liste de favoris"
            description="Enregistrez vos boutiques, restaurants et produits préférés pour les retrouver rapidement."
            color="bg-sable"
          />
        </li>
        <li>
          <CardFonctionnalites
            image={IconeMessage.src}
            title="Commentaires & Notes"
            description="Laissez des avis et consultez ceux des autres pour faire les meilleurs choix."
            color="bg-saumon"
          />
        </li>
        <li>
          <CardFonctionnalites
            image={IconeNewsletter.src}
            title="Newsletter"
            description="Recevez les dernières nouveautés, promotions et recettes directement dans votre boîte mail."
            color="bg-terre-cuite"
          />
        </li>
        <li>
          <CardFonctionnalites
            image={IconeSearchbar.src}
            title="Recherches Rapide"
            description="Trouvez en un instant une boutique, un produit ou une recette grâce à notre moteur de recherche."
            color="bg-sable"
          />
        </li>
        <li>
          <CardFonctionnalites
            image={IconeTask.src}
            title="Générateur de liste de course"
            description="Sélectionnez vos produits et générez une liste prête à être utilisée en magasin."
            color="bg-saumon"
          />
        </li>
        <li>
          <CardFonctionnalites
            image={IconeTraduction.src}
            title="Option de langue"
            description="Naviguez sur la plateforme en plusieurs langues pour une accessibilité maximale."
            color="bg-terre-cuite"
          />
        </li>
      </ul>

      <div
        x-data="{ open: 0 }"
        class="w-full mx-auto space-y-4 mb-12 flex flex-col items-center md:mt-40 mt-20 gap-2"
      >
        <div
          class="w-full lg:w-3/4 border border-terre-cuite bg-white rounded-md shadow-sm"
        >
          <div
            @click="open = open === 1 ? 0 : 1"
            class="flex justify-between items-center px-5 py-4 sm:py-5 cursor-pointer"
          >
            <h3
              class="!text-base sm:!text-xl !font-light font-raleway text-terre-cuite pr-4"
            >
              ASAFRAM est-il gratuit pour les utilisateurs ?
            </h3>
            <div
              class="flex-shrink-0 flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10"
            >
              <div
                class="relative flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 border-2 border-terre-cuite rounded-full"
              >
                <img
                  src={IconeChevron.src}
                  alt="Chevron"
                  class="w-4 h-4 sm:w-5 sm:h-5 transition-transform duration-300 object-contain"
                  :class="open === 1 ? 'rotate-90' : ''"
                />
              </div>
            </div>
          </div>

          <div
            x-show="open === 1"
            x-collapse
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform -translate-y-2"
            x-transition:enter-end="opacity-100 transform translate-y-0"
          >
            <p
              class="px-5 py-4 border-t border-terre-cuite text-sm sm:text-base"
            >
              Oui, ASAFRAM est entièrement gratuit pour les utilisateurs. Nous
              croyons en l'accès à la culture culinaire du monde entier sans
              frais.
            </p>
          </div>
        </div>

        <div
          class="w-full lg:w-3/4 border border-terre-cuite bg-white rounded-md shadow-sm"
        >
          <div
            @click="open = open === 2 ? 0 : 2"
            class="flex justify-between items-center px-5 py-4 sm:py-5 cursor-pointer"
          >
            <h3
              class="!text-base sm:!text-xl !font-light font-raleway text-terre-cuite pr-4"
            >
              Puis-je commander directement via ASAFRAM ?
            </h3>
            <div
              class="flex-shrink-0 flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10"
            >
              <div
                class="relative flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 border-2 border-terre-cuite rounded-full"
              >
                <img
                  src={IconeChevron.src}
                  alt="Chevron"
                  class="w-4 h-4 sm:w-5 sm:h-5 transition-transform duration-300 object-contain"
                  :class="open === 2 ? 'rotate-90' : ''"
                />
              </div>
            </div>
          </div>

          <div
            x-show="open === 2"
            x-collapse
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform -translate-y-2"
            x-transition:enter-end="opacity-100 transform translate-y-0"
          >
            <p
              class="px-5 py-4 border-t border-terre-cuite text-sm sm:text-base"
            >
              Non, ASAFRAM ne propose pas de service de commande. Nous vous
              redirigeons vers les boutiques et restaurants référencés pour
              passer vos commandes directement auprès d'eux.
            </p>
          </div>
        </div>

        <div
          class="w-full lg:w-3/4 border border-terre-cuite bg-white rounded-md shadow-sm"
        >
          <div
            @click="open = open === 3 ? 0 : 3"
            class="flex justify-between items-center px-5 py-4 sm:py-5 cursor-pointer"
          >
            <h3
              class="!text-base sm:!text-xl !font-light font-raleway text-terre-cuite pr-4"
            >
              Quels types de commerces sont référencés sur ASAFRAM ?
            </h3>
            <div
              class="flex-shrink-0 flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10"
            >
              <div
                class="relative flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 border-2 border-terre-cuite rounded-full"
              >
                <img
                  src={IconeChevron.src}
                  alt="Chevron"
                  class="w-4 h-4 sm:w-5 sm:h-5 transition-transform duration-300 object-contain"
                  :class="open === 3 ? 'rotate-90' : ''"
                />
              </div>
            </div>
          </div>

          <div
            x-show="open === 3"
            x-collapse
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform -translate-y-2"
            x-transition:enter-end="opacity-100 transform translate-y-0"
          >
            <p
              class="px-5 py-4 border-t border-terre-cuite text-sm sm:text-base"
            >
              ASAFRAM référence une variété de commerces, y compris des
              épiceries, des restaurants, des traiteurs et des marchés
              spécialisés dans les produits étrangers. Nous nous efforçons de
              couvrir un large éventail de cuisines du monde entier.
            </p>
          </div>
        </div>

        <div
          class="w-full lg:w-3/4 border border-terre-cuite bg-white rounded-md shadow-sm"
        >
          <div
            @click="open = open === 4 ? 0 : 4"
            class="flex justify-between items-center px-5 py-4 sm:py-5 cursor-pointer"
          >
            <h3
              class="!text-base sm:!text-xl !font-light font-raleway text-terre-cuite pr-4"
            >
              ASAFRAM propose-t-il des recommandations personnalisées ?
            </h3>
            <div
              class="flex-shrink-0 flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10"
            >
              <div
                class="relative flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 border-2 border-terre-cuite rounded-full"
              >
                <img
                  src={IconeChevron.src}
                  alt="Chevron"
                  class="w-4 h-4 sm:w-5 sm:h-5 transition-transform duration-300 object-contain"
                  :class="open === 4 ? 'rotate-90' : ''"
                />
              </div>
            </div>
          </div>

          <div
            x-show="open === 4"
            x-collapse
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform -translate-y-2"
            x-transition:enter-end="opacity-100 transform translate-y-0"
          >
            <p
              class="px-5 py-4 border-t border-terre-cuite text-sm sm:text-base"
            >
              Oui, ASAFRAM utilise des algorithmes de recommandation pour
              suggérer des produits et des recettes en fonction de vos
              préférences et de vos recherches précédentes. Plus vous utilisez
              la plateforme, plus les recommandations deviennent pertinentes.
            </p>
          </div>
        </div>
      </div>
    </section>
  </Fragment></LayoutLandingPage
>
