---
const { circleColor, image, nombre, text } = Astro.props;
---

<div
  class="flex flex-col items-center text-center max-w-xs mx-auto my-4 md:my-5 lg:my-6"
>
  <div class="flex items-center justify-center mb-3 md:mb-4 lg:mb-5">
    <div
      class={`w-28 h-28 sm:w-32 sm:h-32 md:w-36 md:h-36 lg:w-44 lg:h-44 xl:w-52 xl:h-52 ${circleColor} rounded-full flex items-center justify-center relative transition-transform duration-300 hover:scale-105`}
    >
      <div class="z-0">
        <img
          src={image}
          alt={text}
          class="w-16 h-16 sm:w-18 sm:h-18 md:w-20 md:h-20 lg:w-28 lg:h-28 xl:w-32 xl:h-32 object-contain"
        />
      </div>
    </div>
  </div>
  <div>
    <p
      class="font-extrabold font-radio-canada text-2xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl relative bottom-6 sm:bottom-7 md:bottom-8 lg:bottom-10 xl:bottom-12 right-0.5"
    >
      +{nombre}
    </p>
    <p
      class="relative bottom-4 sm:bottom-5 md:bottom-5 lg:bottom-6 xl:bottom-8 text-base sm:text-lg md:text-lg lg:text-xl xl:text-2xl"
    >
      {text}
    </p>
  </div>
</div>
