---
const { description, title, image, color } = Astro.props;
---

<div
  class={`flex flex-col w-3/4 max-w-md mx-auto rounded-[24px] p-6 transition-transform hover:scale-102 ${color}`}
>
  <div class="mb-2 flex-shrink-0">
    {image && <img src={image} alt={title} class="w-[50px] h-[50px] mb-3" />}
    <h3 class="!text-xl font-bold mb-2">{title}</h3>
  </div>
  <div>
    <p class="!text-base text-gray-800">{description}</p>
  </div>
</div>
