---
const { name, profession, title, content, imageUrl } = Astro.props;
---

<div
  class="w-[300px] sm:w-[380px] md:w-[450px] lg:w-[500px] xl:w-[550px] h-[280px] sm:h-[300px] md:h-[320px] lg:h-[350px] bg-white rounded-xl shadow-lg p-4 sm:p-5 md:p-6 lg:p-8 mx-auto flex flex-col overflow-hidden transition-all duration-300 hover:shadow-xl hover:translate-y-[-4px]"
>
  <div class="flex items-center mb-3 sm:mb-4 md:mb-5 lg:mb-6">
    <div
      class="w-10 h-10 sm:w-12 sm:h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 rounded-full overflow-hidden mr-3 sm:mr-4"
    >
      <img src={imageUrl} alt={name} class="w-full h-full object-cover" />
    </div>

    <div class="flex flex-col">
      <span class="text-black font-bold text-sm sm:text-base md:text-lg"
        >{name}</span
      >
      <div class="flex items-center gap-2 sm:gap-3 md:gap-4">
        <span class="text-xs sm:text-sm text-gray-500">{profession}</span>
        <div class="flex">
          <svg
            width="12"
            height="12"
            viewBox="0 0 24 24"
            class="mr-[2px] sm:w-4 sm:h-4 md:w-5 md:h-5 lg:w-6 lg:h-6"
          >
            <path
              d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
              fill="#FFD700"
              stroke="#000000"
              stroke-width="1"></path>
          </svg>
          <svg
            width="12"
            height="12"
            viewBox="0 0 24 24"
            class="mr-[2px] sm:w-4 sm:h-4 md:w-5 md:h-5 lg:w-6 lg:h-6"
          >
            <path
              d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
              fill="#FFD700"
              stroke="#000000"
              stroke-width="1"></path>
          </svg>
          <svg
            width="12"
            height="12"
            viewBox="0 0 24 24"
            class="mr-[2px] sm:w-4 sm:h-4 md:w-5 md:h-5 lg:w-6 lg:h-6"
          >
            <path
              d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
              fill="#FFD700"
              stroke="#000000"
              stroke-width="1"></path>
          </svg>
          <svg
            width="12"
            height="12"
            viewBox="0 0 24 24"
            class="mr-[2px] sm:w-4 sm:h-4 md:w-5 md:h-5 lg:w-6 lg:h-6"
          >
            <path
              d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
              fill="#FFD700"
              stroke="#000000"
              stroke-width="1"></path>
          </svg>
          <svg
            width="12"
            height="12"
            viewBox="0 0 24 24"
            class="mr-[2px] sm:w-4 sm:h-4 md:w-5 md:h-5 lg:w-6 lg:h-6"
          >
            <path
              d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z"
              fill="#FFD700"
              stroke="#000000"
              stroke-width="1"></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <h3
    class="!text-base sm:!text-lg md:!text-xl font-bold mb-2 sm:mb-3 md:mb-4 text-black"
  >
    {title}
  </h3>
  <div class="flex-grow overflow-y-auto">
    <p
      class="text-gray-600 text-xs sm:text-sm md:text-base leading-relaxed line-clamp-6 sm:line-clamp-none"
    >
      {content}
    </p>
  </div>
</div>
