---
import IconStar from "../assets/icones/icone-star.svg";
const { image, commentaire, partenaire } = Astro.props;
---

<div class="hidden md:flex w-full max-w-7xl h-auto shadow-xl mx-auto">
  <div class="w-1/2 min-h-[300px] relative">
    <div class="absolute inset-0 bg-opacity-30"></div>
    <img
      src={image.src}
      alt={`Image ${partenaire}`}
      class="w-full h-full min-h-[300px] object-cover"
    />
  </div>

  <div class="w-1/2 bg-background p-10 flex flex-col">
    <div class="flex flex-col h-full justify-between gap-8">
      <div class="text-black text-center text-lg italic overflow-auto mt-6">
        "{commentaire}"
      </div>

      <div class="text-black font-bold text-2xl text-center">
        {partenaire}
      </div>

      <div class="flex justify-center mt-2">
        <div class="flex space-x-2">
          <img src={IconStar.src} alt="Étoile" class="w-6 h-6" />
          <img src={IconStar.src} alt="Étoile" class="w-6 h-6" />
          <img src={IconStar.src} alt="Étoile" class="w-6 h-6" />
          <img src={IconStar.src} alt="Étoile" class="w-6 h-6" />
          <img src={IconStar.src} alt="Étoile" class="w-6 h-6" />
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="md:hidden w-full max-w-[440px] mx-auto border border-gray-200 rounded-lg overflow-hidden shadow-md"
>
  <div class="w-full h-[220px] relative">
    <img
      src={image.src}
      alt={`Image ${partenaire}`}
      class="w-full h-full object-cover"
    />
  </div>

  <div class="w-full bg-background p-6 flex flex-col gap-5">
    <div class="text-black text-center text-sm italic">
      "{commentaire}"
    </div>

    <div class="text-black font-bold text-lg text-center">
      {partenaire}
    </div>

    <div class="flex justify-center mt-2">
      <div class="flex space-x-2">
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-8 h-8 text-terre-cuite fill-current"
        />
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-8 h-8 text-terre-cuite fill-current"
        />
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-8 h-8 text-terre-cuite fill-current"
        />
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-8 h-8 text-terre-cuite fill-current"
        />
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-8 h-8 text-terre-cuite fill-current"
        />
      </div>
    </div>
  </div>
</div>
