---
import IconStar from "../assets/icones/icone-star.svg";
const { image, commentaire, partenaire } = Astro.props;
---

<!-- Version desktop -->
<div
  class="hidden md:flex w-full max-w-4xl lg:max-w-5xl xl:max-w-7xl h-auto shadow-md lg:shadow-lg xl:shadow-xl mx-auto"
>
  <div
    class="w-1/2 min-h-[250px] md:min-h-[270px] lg:min-h-[280px] xl:min-h-[300px] relative"
  >
    <div class="absolute inset-0 bg-opacity-30"></div>
    <img
      src={image.src}
      alt={`Image ${partenaire}`}
      class="w-full h-full min-h-[250px] md:min-h-[270px] lg:min-h-[280px] xl:min-h-[300px] object-cover"
    />
  </div>

  <div class="w-1/2 bg-background p-6 md:p-7 lg:p-8 xl:p-10 flex flex-col">
    <div
      class="flex flex-col h-full justify-between gap-5 md:gap-6 lg:gap-7 xl:gap-8"
    >
      <div
        class="text-black text-center text-base md:text-base lg:text-lg xl:text-lg italic overflow-auto mt-3 md:mt-4 lg:mt-5 xl:mt-6"
      >
        "{commentaire}"
      </div>

      <div
        class="text-black font-bold text-xl md:text-xl lg:text-2xl xl:text-2xl text-center"
      >
        {partenaire}
      </div>

      <div class="flex justify-center mt-2">
        <div class="flex space-x-1 md:space-x-1 lg:space-x-2 xl:space-x-2">
          <img
            src={IconStar.src}
            alt="Étoile"
            class="w-4 md:w-5 lg:w-5 xl:w-6 h-4 md:h-5 lg:h-5 xl:h-6"
          />
          <img
            src={IconStar.src}
            alt="Étoile"
            class="w-4 md:w-5 lg:w-5 xl:w-6 h-4 md:h-5 lg:h-5 xl:h-6"
          />
          <img
            src={IconStar.src}
            alt="Étoile"
            class="w-4 md:w-5 lg:w-5 xl:w-6 h-4 md:h-5 lg:h-5 xl:h-6"
          />
          <img
            src={IconStar.src}
            alt="Étoile"
            class="w-4 md:w-5 lg:w-5 xl:w-6 h-4 md:h-5 lg:h-5 xl:h-6"
          />
          <img
            src={IconStar.src}
            alt="Étoile"
            class="w-4 md:w-5 lg:w-5 xl:w-6 h-4 md:h-5 lg:h-5 xl:h-6"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Version mobile -->
<div
  class="md:hidden w-full max-w-[360px] sm:max-w-[400px] mx-auto border border-gray-200 rounded-lg overflow-hidden shadow-md"
>
  <div class="w-full h-[180px] sm:h-[200px] relative">
    <img
      src={image.src}
      alt={`Image ${partenaire}`}
      class="w-full h-full object-cover"
    />
  </div>

  <div class="w-full bg-background p-4 sm:p-5 flex flex-col gap-3 sm:gap-4">
    <div class="text-black text-center text-xs sm:text-sm italic">
      "{commentaire}"
    </div>

    <div class="text-black font-bold text-base sm:text-lg text-center">
      {partenaire}
    </div>

    <div class="flex justify-center mt-1 sm:mt-2">
      <div class="flex space-x-1 sm:space-x-2">
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-4 sm:w-5 h-4 sm:h-5 text-terre-cuite fill-current"
        />
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-4 sm:w-5 h-4 sm:h-5 text-terre-cuite fill-current"
        />
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-4 sm:w-5 h-4 sm:h-5 text-terre-cuite fill-current"
        />
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-4 sm:w-5 h-4 sm:h-5 text-terre-cuite fill-current"
        />
        <img
          src={IconStar.src}
          alt="Étoile"
          class="w-4 sm:w-5 h-4 sm:h-5 text-terre-cuite fill-current"
        />
      </div>
    </div>
  </div>
</div>
